[submodule "add-framework"]
	path = add-framework
	url = https://github.com/albertdiones/add-framework
[submodule "jsencrypt"]
	path = jsencrypt
	url = https://github.com/travist/jsencrypt.git
[submodule "cryptico"]
	path = cryptico
	url = https://github.com/wwwtyro/cryptico.git
